.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 10px;
}

.title-with-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.emoji-logo {
  width: 25px;
}
.scores-container {
  display: flex;
}

.score {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 16px;
}
.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .emoji-logo {
    width: 50px;
  }
  .title {
    font-size: 25px;
  }
  .score {
    font-size: 25px;
    margin-left: 30px;
  }
}
